{% extends 'base.html' %}
{% block meta %}
<title>Contacto</title>
{% endblock %}

{% block content %}
<p><b>Contacto</b></p>
<fieldset>
  <legend>Datos personales</legend>
  <form action="#" method="post">
    <label for="name">Nombre:</label><br>
    <input type="text" name="name" placeholder="Nombre" />
    <br><br>
    <label for="lastname">Apellido</label><br>
    <input type="text" name="lastname" placeholder="Apellido" />
    <br><br>
    <label for="mail">Email</label><br>
    <input type="mail" name="mail" placeholder="ejemplo@mail.com" />
</fieldset>
<br><br><br>
<div class="form2">
  <label for="experiencia">¿Cuenta actualmente con un inventario online?</label>
  <select name="experiencia" id="experiencia">
    <option value="si">Sí</option>
    <option value="No">No</option>
    <br>
  </select>
  <br><br><br>
  <label for="use"><b>¿Que uso le dará?</b></label>
  <br>
  <label for="empresarial">Uso empresarial</label>
  <input type="checkbox" name="empresarial" value="Business" />
  <br>
  <label for="personal">Uso personal</label>
  <input type="checkbox" name="personal" value="Personal" />
  <br>
  <label for="otro">Otro</label>
  <input type="checkbox" name="otro" value="Other" />
  <br>
  <textarea name="comentario" id="comentario" cols="30" rows="10"
    placeholder="Ingrese aquí sus comentarios"></textarea>
  <br>
  <input type="submit" value="Enviar" />
  <input type="reset" value="Cancelar" />
</div>
</form>
{% endblock %}