{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Classy.fy</title>
  <link id="favicon" rel="icon" type="favicon/x-icon" href="{% static 'img/favicon.jpg' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
  <div class="main-bg">
    <header id="header">
      <a href="{% url 'index' %}"><img id="logo" src="{% static 'img/Classi.fy-logo.png' %}" alt="Classy-Logo"></a>

      <nav id="main-nav">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'como-funciona' %}">Cómo funciona</a></li>
          <li><a href="{% url 'precios' %}">Precios</a></li>
          <li><a href="{% url 'faqs' %}">FAQs</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
      </nav>
      <div class="login-box">
        <nav id="login-box-nav">
          <a href="{% url 'ingresa' %}" class="login">Log in</a>
          <button class="signup-btn"><a href="{% url 'precios' %}">Sign up</a> </button>
        </nav>
      </div>
    </header>
    <main>
      <h1>Tu Inventario <br> Simplificado</h1>
      <h2>
        El software de inventario más simple para que <br>
         las empresas y los equipos estén al tanto de 
        <br> sus cosas
      </h2>
    </main>
  </div>
  <section id="images">
    <img src="#" alt="Inventario escolar" />
    <img src="#" alt="Inventario médico" />
    <img src="#" alt="Inventario para indumentaria" />
    <img src="#" alt="Inventario para almacén" />
  </section>

  <section id="testimonios">
    <h3>Testimonios de Clientes </h3>
    <div id="quotes">
      <p>
        <img class="photo-testimony" src="{% static 'img/testimonios/testimonio-curadora-de-arte.jpg' %}"
          alt="Foto Testimonio Curadora de arte" />
        "Este es un gran software de gestión de inventario para obras de arte. No puedo esperar para implementarlo en
        nuestra abrumadora colección de obras de arte. Gracias, enhorabuena".
        <br>
        María Etchegoyen
        <br>
        Presidente y Directora de Arte

      </p>
      <p>
        <img class="photo-testimony" src="{% static 'img/testimonios/testimonio-mecanica.jpg' %}" alt="Foto Testimonio mecánica" />
        "He examinado opciones de software de gestión de inventario que cuestan miles de dólares para comenzar y que no
        eran capaces de hacer lo que yo puedo hacer con la aplicación de sus chicos. También me ha impresionado su
        servicio al cliente".
        <br>
        Eduardo Lozada
        <br>
        ROCA Mecánica

      </p>
      <p>
        <img class="photo-testimony" src="{% static 'img/testimonios/testimonio-centro-medico.jpg' %}"
          alt="Foto Testimonio centro de salud" />
        "Somos una startup de atención urgente. Quería un sistema que fuera intuitivo, de bajo mantenimiento y fácil de
        usar sin dejar de ser robusto, para poder concentrarme en cosas como hacer crecer mi negocio. Classy era la
        solución perfecta".
        <br>
        Seema Awatramani
        <br>
        Copropietario y Director Médico


      </p>
      <p>
        <img class="photo-testimony" src="{% static 'img/testimonios/testimonio-bussines-manager.jpg' %}"
          alt="Foto testimonio business manager" />
        "Gracias a Classy, hemos llevado nuestro inventario a nuevos niveles. Todo nuestro material ahora está
        ingresado, etiquetado y mejor organizado, por lo que ahora podemos hacer que la información sea accesible para
        nuestros diseñadores y clientes".
        <br>
        Mebra Kisaka
        <br>
        Gerente de Negocios
      </p>
    </div>
  </section>

  <footer>
    <hr />
    <div class="social">
      <ul>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
        <li>
          <a href="#">Twitter</a>
        </li>
      </ul>
    </div>

    <p class="copy">&copy; Desarrollado por Johanna Barros</p>
  </footer>
</body>

</html>